<a href="https://colab.research.google.com/github/superahxd/sec1_project/blob/main/sec1_project_EAgames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üí•GOAL

Îç∞Ïù¥ÌÑ∞Î•º Î∞îÌÉïÏúºÎ°ú ÎãåÌÖêÎèÑ Îã§Ïùå Î∂ÑÍ∏∞ Í≤åÏûÑ Í∏∞Ìöç

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
vgames = pd.read_csv('/content/vgames2.csv')
vgames = vgames.iloc[:, 1:]
vgames.head()

                                             Name Platform  ...  JP_Sales Other_Sales
0                    Candace Kane's Candy Factory       DS  ...         0           0
1                                  The Munchables      Wii  ...         0        0.01
2  Otome wa Oanesama Boku ni Koi Shiteru Portable      PSP  ...      0.02           0
3                Deal or No Deal: Special Edition       DS  ...         0           0
4       Ben 10 Ultimate Alien: Cosmic Destruction      PS3  ...         0        0.04

[5 rows x 9 columns]

In [ ]:
vgames=vgames.replace('N/A',np.nan)
vgames=vgames.dropna()

In [ ]:

def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    return float(x)


vgames['NA_Sales']=vgames['NA_Sales'].apply(value_to_float)
vgames['EU_Sales']=vgames['EU_Sales'].apply(value_to_float)
vgames['JP_Sales']=vgames['JP_Sales'].apply(value_to_float)
vgames['Other_Sales']=vgames['Other_Sales'].apply(value_to_float)

In [ ]:
def million(x):
 if x <= 100:
   return x * 1000000.0
 else: return x

vgames['NA_Sales']=vgames['NA_Sales'].apply(million)
vgames['EU_Sales']=vgames['EU_Sales'].apply(million)
vgames['JP_Sales']=vgames['JP_Sales'].apply(million)
vgames['Other_Sales']=vgames['Other_Sales'].apply(million)

In [ ]:
def division(x):
  if x > 0:
    return x / 1000
  else: return x

vgames['NA_Sales']=vgames['NA_Sales'].apply(division)
vgames['EU_Sales']=vgames['EU_Sales'].apply(division)
vgames['JP_Sales']=vgames['JP_Sales'].apply(division)
vgames['Other_Sales']=vgames['Other_Sales'].apply(division)

In [ ]:
def year(x):
  if x >= 80 and x <= 100:
   return x + 1900
  elif x < 80:
   return x + 2000
  else : return float(x)

vgames['Year']=vgames['Year'].apply(year)

In [ ]:
vgames

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...         0.0
1                                      The Munchables  ...        10.0
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...         0.0
3                    Deal or No Deal: Special Edition  ...         0.0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        40.0
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        10.0
16594                     Rainbow Islands: Revolution  ...         0.0
16595                                        NBA 2K16  ...       130.0
16596                     Toukiden: The Age of Demons  ...        30.0
16597                        The King of Fighters '95  ...        10.0

[16241 rows x 9 columns]

# 1. ÌîåÎû´Ìèº Î≥Ñ Í≤åÏûÑÏàò ÎπÑÍµê

In [ ]:
vgames_plat= vgames.iloc[:, :2]
vgames_plat= vgames_plat.value_counts('Platform')
vgames_plat= pd.DataFrame(vgames_plat.head(10))
vgames_plat

             0
Platform
DS        2127
PS2       2121
PS3       1299
Wii       1284
X360      1231
PSP       1193
PS        1185
PC         935
XB         799
GBA        784

In [ ]:
vgames_plat= vgames.iloc[:, 3:5]
vgames_plat= vgames_plat.value_counts('Publisher')
vgames_plat= pd.DataFrame(vgames_plat.head(10))
vgames_plat

                                 0
Publisher
Electronic Arts               1332
Activision                     963
Namco Bandai Games             924
Ubisoft                        913
Konami Digital Entertainment   821
THQ                            711
Nintendo                       692
Sony Computer Entertainment    679
Sega                           631
Take-Two Interactive           411