<a href="https://colab.research.google.com/github/superahxd/sec1_project/blob/main/sec1_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#üí•GOAL

Îã§Ïùå Î∂ÑÍ∏∞Ïóê Ïñ¥Îñ§ Í≤åÏûÑÏùÑ ÏÑ§Í≥ÑÌï¥Ïïº Ìï†Íπå

1. ÏßÄÏó≠Ïóê Îî∞ÎùºÏÑú ÏÑ†Ìò∏ÌïòÎäî Í≤åÏûÑ Ïû•Î•¥Í∞Ä Îã§Î•ºÍπå
2. Ïó∞ÎèÑÎ≥Ñ Í≤åÏûÑÏùò Ìä∏Î†åÎìúÍ∞Ä ÏûàÏùÑÍπå
3. Ï∂úÍ≥†ÎüâÏù¥ ÎÜíÏùÄ Í≤åÏûÑÏóê ÎåÄÌïú Î∂ÑÏÑù Î∞è ÏãúÍ∞ÅÌôî ÌîÑÎ°úÏÑ∏Ïä§

# üïπÔ∏è Data Description
Name : Í≤åÏûÑÏùò Ïù¥Î¶ÑÏûÖÎãàÎã§.

Platform : Í≤åÏûÑÏù¥ ÏßÄÏõêÎêòÎäî ÌîåÎû´ÌèºÏùò Ïù¥Î¶ÑÏûÖÎãàÎã§.

Year : Í≤åÏûÑÏù¥ Ï∂úÏãúÎêú Ïó∞ÎèÑÏûÖÎãàÎã§.

Genre : Í≤åÏûÑÏùò Ïû•Î•¥ÏûÖÎãàÎã§.

Publisher : Í≤åÏûÑÏùÑ Ï†úÏûëÌïú ÌöåÏÇ¨ÏûÖÎãàÎã§.

NA_Sales : Î∂ÅÎØ∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

EU_Sales : Ïú†ÎüΩÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

JP_Sales : ÏùºÎ≥∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

Other_Sales : Í∏∞ÌÉÄÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

In [101]:
import pandas as pd
import numpy as np

vgames = pd.read_csv('/content/vgames2.csv')

In [102]:
vgames.head()

   Unnamed: 0  ... Other_Sales
0           1  ...           0
1           2  ...        0.01
2           3  ...           0
3           4  ...           0
4           5  ...        0.04

[5 rows x 10 columns]

In [103]:
vgames=vgames.replace('N/A',np.nan)
vgames=vgames.dropna()

In [104]:
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    return float(x)


vgames['NA_Sales']=vgames['NA_Sales'].apply(value_to_float)
vgames['EU_Sales']=vgames['EU_Sales'].apply(value_to_float)
vgames['JP_Sales']=vgames['JP_Sales'].apply(value_to_float)
vgames['Other_Sales']=vgames['Other_Sales'].apply(value_to_float)

In [105]:
def million(x):
 if x <= 100:
   return x * 1000000.0
 else: return x

vgames['NA_Sales']=vgames['NA_Sales'].apply(million)
vgames['EU_Sales']=vgames['EU_Sales'].apply(million)
vgames['JP_Sales']=vgames['JP_Sales'].apply(million)
vgames['Other_Sales']=vgames['Other_Sales'].apply(million)

In [106]:
def division(x):
  if x > 0:
    return x / 1000
  else: return x

vgames['NA_Sales']=vgames['NA_Sales'].apply(division)
vgames['EU_Sales']=vgames['EU_Sales'].apply(division)
vgames['JP_Sales']=vgames['JP_Sales'].apply(division)
vgames['Other_Sales']=vgames['Other_Sales'].apply(division)

In [107]:
def year(x):
  if x >= 80 and x <= 100:
   return x + 1900
  elif x < 80:
   return x + 2000
  else : return float(x)

vgames['Year']=vgames['Year'].apply(year)

In [108]:
vgames=vgames.iloc[:,1:]
vgames

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...         0.0
1                                      The Munchables  ...        10.0
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...         0.0
3                    Deal or No Deal: Special Edition  ...         0.0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        40.0
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        10.0
16594                     Rainbow Islands: Revolution  ...         0.0
16595                                        NBA 2K16  ...       130.0
16596                     Toukiden: The Age of Demons  ...        30.0
16597                        The King of Fighters '95  ...        10.0

[16241 rows x 9 columns]

1. üåèÏßÄÏó≠Ïóê Îî∞Î•∏ Í≤åÏûÑ Ïû•Î•¥ ÏÑ†Ìò∏ÎèÑ

ÏßÄÏó≠Ïóê Îî∞ÎùºÏÑú ÏÑ†Ìò∏ÌïòÎäî Í≤åÏûÑ Ïû•Î•¥Í∞Ä Îã§Î•ºÍπå

In [109]:
import matplotlib.pyplot as plt
import numpy as np

In [110]:
vgames['Genre'] = vgames['Genre'].dropna()
vgames_1=vgames.iloc[:,3:]
vgames_1

           Genre                    Publisher  ...  JP_Sales  Other_Sales
0         Action                    Destineer  ...       0.0          0.0
1         Action           Namco Bandai Games  ...       0.0         10.0
2      Adventure                    Alchemist  ...      20.0          0.0
3           Misc                    Zoo Games  ...       0.0          0.0
4       Platform                  D3Publisher  ...       0.0         40.0
...          ...                          ...  ...       ...          ...
16593   Platform                Vivendi Games  ...       0.0         10.0
16594     Action            Rising Star Games  ...       0.0          0.0
16595     Sports         Take-Two Interactive  ...      30.0        130.0
16596     Action                   Tecmo Koei  ...     250.0         30.0
16597   Fighting  Sony Computer Entertainment  ...     160.0         10.0

[16241 rows x 6 columns]

In [111]:
vgames_sum= vgames_1.groupby(['Genre']).sum()
vgames_sum= vgames_sum.T

In [112]:
vgames_mean= vgames_1.groupby(['Genre']).mean()
vgames_mean= vgames_mean.T
vgames_mean

Genre            Action  Adventure  ...      Sports    Strategy
NA_Sales     265.046296  80.276025  ...  290.239234  101.390135
EU_Sales     158.530864  50.205047  ...  161.361462   66.995516
JP_Sales      48.333333  40.906940  ...   58.616790   73.393124
Other_Sales   56.787037  13.170347  ...   57.568508   16.786248

[4 rows x 12 columns]

In [113]:
vgames_sum.plot(kind='bar',figsize=(11,5), rot=1, legend='reverse', alpha = 0.5, title='Sales Total')
plt.legend(loc='best')

TypeError: ignored

In [ ]:
vgames_mean.plot(kind='bar',figsize=(11,5), rot=1, legend='reverse', alpha = 0.5, title='Sales Mean')
plt.legend(loc='best')

In [ ]:
vgames_1.rank(method='min', ascending=False)


|Ïù∏Í∏∞Ï¢ÖÎ™© |1st | 2nd | 3rd |
|:-:|:-:|:-:|:-:|
|Î∂ÅÎØ∏|Platform|Shooter|simulation|
|Ïú†ÎüΩ|Shooter|Platform|Racing|
|ÏùºÎ≥∏|Role-Playing|Adventure|Fighting|
|Í∑∏Ïô∏|Shooter|Racing|Platform|

<br/>

|ÎπÑÏù∏Í∏∞Ï¢ÖÎ™© |1st | 2nd | 3rd |
|:-:|:-:|:-:|:-:|
|Î∂ÅÎØ∏|Adventure	|Strategy|Sports|
|Ïú†ÎüΩ|Adventure	|Strategy|Puzzle|
|ÏùºÎ≥∏|Shooter|Platform|Racing|
|Í∑∏Ïô∏|Adventure	|Strategy|Platform|

In [ ]:
vgames_sum.T.corr(method = 'pearson')

In [ ]:
vgames_mean.T.corr(method = 'pearson')

2. üìÖÏó∞ÎèÑÎ≥Ñ Ìä∏ÎûúÎìú Î≥ÄÌôî
</br>Ïû•Î•¥Î≥Ñ

In [ ]:
vgames_2_Genre = vgames.iloc[:, 2:4]
vgames_2_Genre['sales'] = vgames.iloc[:, 5:].sum(axis = 1, skipna = True)
vgames_2_Genre

In [ ]:
pivot_vgames = pd.pivot_table(vgames_2_Genre, 'sales', 'Year', 'Genre', aggfunc='sum', fill_value=0)
#pivot_vgames['sum']=pivot_vgames.sum(axis = 1, skipna = True)
pivot_vgames.head()
pivot_index = pivot_vgames.index
pivot_columns= pivot_vgames.columns
pivot_index

In [ ]:
pivot_sum = np.array(pivot_vgames.sum(axis = 1, skipna = True))
pivot_sum[0]

In [ ]:
pivot_array = np.array(pivot_vgames)
array_pivot=pd.DataFrame(pivot_array / pivot_array.sum(1, keepdims=True),
                         index=pivot_index, columns=pivot_columns)
array_pivot.head()

In [ ]:
  array_pivot.plot(kind='line', 
                  figsize=(16,6), 
                  title='Market Share of Genre', 
                  grid=True)
  plt.legend(loc='best')

3. Ï∂úÍ≥†ÎüâÏù¥ ÎÜíÏùÄ Í≤åÏûÑÏóê ÎåÄÌïú Î∂ÑÏÑù Î∞è ÏãúÍ∞ÅÌôî ÌîÑÎ°úÏÑ∏Ïä§

In [ ]:
vgames_3 = vgames.iloc[:,:5]
vgames_3['sales'] = vgames.iloc[:, 5:].sum(axis = 1, skipna = True)
vgames_3['rank'] = vgames_3['sales'].rank(method="min", ascending = True)
vgames_3

In [ ]:
vgames_3_rank = vgames_3.sort_values(by='rank', ascending=False)
vgames_3_top100 = vgames_3_rank.iloc[:,:5].head(100).reset_index().iloc[:, 1:]
vgames_3_top100

In [ ]:
vgames_3_platform=vgames_3_top100.value_counts('Platform')
vgames_3_platform.plot(kind='pie', figsize = (8, 8), title='Top 100 Platform')
vgames_3_values=vgames_3_platform.values
labels=vgames_3_platform.index
plt.pie(vgames_3_values, labels=labels, autopct='%.1f%%')

In [ ]:
vgames_3_year=pd.DataFrame(vgames_3_top100.value_counts('Year'))
vgames_3_year= vgames_3_year.columns = ['counts']
vgames_3_year=vgames_3_year.sort_values(by='Year', ascending=True)

In [ ]:
plt.bar(vgames_3_year.index,vgames_3_year[0], alpha=0.5)
plt.title('year of "top 100"')

In [ ]:
top100_genre = vgames_3_top100.value_counts('Genre')

In [ ]:
top100_genre .plot(kind='pie', figsize = (8, 8), title='Top 100 Genre')
top100_genre_values=top100_genre.values
labels=top100_genre .index
plt.pie(top100_genre_values, labels=labels, autopct='%.1f%%')

In [ ]:
vgames_3_top100.value_counts('Publisher')

In [ ]:
vgames_3_publisher = pd.DataFrame(vgames_3_top100.value_counts('Publisher').head(6))
data = {'others': [6]}
data = pd.DataFrame(data).T
vgames_3_publisher = pd.concat([vgames_3_publisher, data])
vgames_3_publisher_array = np.array(pd.concat([vgames_3_publisher, data]))
vgames_3_publisher.columns = ['counts']
vgames_3_publisher

In [ ]:
#import seaborn as sns

#sns.barplot(x=vgames_3_publisher.index, y="counts", data=vgames_3_publisher)
#plt.show()