#üí•GOAL

Îã§Ïùå Î∂ÑÍ∏∞Ïóê Ïñ¥Îñ§ Í≤åÏûÑÏùÑ ÏÑ§Í≥ÑÌï¥Ïïº Ìï†Íπå

1. ÏßÄÏó≠Ïóê Îî∞ÎùºÏÑú ÏÑ†Ìò∏ÌïòÎäî Í≤åÏûÑ Ïû•Î•¥Í∞Ä Îã§Î•ºÍπå
2. Ïó∞ÎèÑÎ≥Ñ Í≤åÏûÑÏùò Ìä∏Î†åÎìúÍ∞Ä ÏûàÏùÑÍπå
3. Ï∂úÍ≥†ÎüâÏù¥ ÎÜíÏùÄ Í≤åÏûÑÏóê ÎåÄÌïú Î∂ÑÏÑù Î∞è ÏãúÍ∞ÅÌôî ÌîÑÎ°úÏÑ∏Ïä§

# üïπÔ∏è Data Description
Name : Í≤åÏûÑÏùò Ïù¥Î¶ÑÏûÖÎãàÎã§.

Platform : Í≤åÏûÑÏù¥ ÏßÄÏõêÎêòÎäî ÌîåÎû´ÌèºÏùò Ïù¥Î¶ÑÏûÖÎãàÎã§.

Year : Í≤åÏûÑÏù¥ Ï∂úÏãúÎêú Ïó∞ÎèÑÏûÖÎãàÎã§.

Genre : Í≤åÏûÑÏùò Ïû•Î•¥ÏûÖÎãàÎã§.

Publisher : Í≤åÏûÑÏùÑ Ï†úÏûëÌïú ÌöåÏÇ¨ÏûÖÎãàÎã§.

NA_Sales : Î∂ÅÎØ∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

EU_Sales : Ïú†ÎüΩÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

JP_Sales : ÏùºÎ≥∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

Other_Sales : Í∏∞ÌÉÄÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.

In [172]:
import pandas as pd

vgames = pd.read_csv('/content/vgames2.csv')

In [173]:
vgames.head()

   Unnamed: 0  ... Other_Sales
0           1  ...           0
1           2  ...        0.01
2           3  ...           0
3           4  ...           0
4           5  ...        0.04

[5 rows x 10 columns]

In [174]:
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    return float(x)


vgames['NA_Sales']=vgames['NA_Sales'].apply(value_to_float)
vgames['EU_Sales']=vgames['EU_Sales'].apply(value_to_float)
vgames['JP_Sales']=vgames['JP_Sales'].apply(value_to_float)
vgames['Other_Sales']=vgames['Other_Sales'].apply(value_to_float)

In [175]:
def million(x):
 if x <= 100:
   return x * 1000000.0
 else: return x

vgames['NA_Sales']=vgames['NA_Sales'].apply(million)
vgames['EU_Sales']=vgames['EU_Sales'].apply(million)
vgames['JP_Sales']=vgames['JP_Sales'].apply(million)
vgames['Other_Sales']=vgames['Other_Sales'].apply(million)

In [176]:
def year(x):
  if x >= 80 and x <= 100:
   return x + 1900
  elif x < 80:
   return x + 2000
  else : return float(x)

vgames['Year']=vgames['Year'].apply(year)

In [177]:
vgames['Year'].isna().sum()

271

In [178]:
vgames=vgames.iloc[:,1:]
vgames.head()

                                             Name  ... Other_Sales
0                    Candace Kane's Candy Factory  ...         0.0
1                                  The Munchables  ...     10000.0
2  Otome wa Oanesama Boku ni Koi Shiteru Portable  ...         0.0
3                Deal or No Deal: Special Edition  ...         0.0
4       Ben 10 Ultimate Alien: Cosmic Destruction  ...     40000.0

[5 rows x 9 columns]

1. üåèÏßÄÏó≠Ïóê Îî∞Î•∏ Í≤åÏûÑ Ïû•Î•¥ ÏÑ†Ìò∏ÎèÑ

ÏßÄÏó≠Ïóê Îî∞ÎùºÏÑú ÏÑ†Ìò∏ÌïòÎäî Í≤åÏûÑ Ïû•Î•¥Í∞Ä Îã§Î•ºÍπå

In [179]:
import matplotlib.pyplot as plt
import numpy as np

In [180]:
vgames['Genre'] = vgames['Genre'].dropna()
vgames_1=vgames.iloc[:,2:]

In [181]:
vgames_1= vgames_1.groupby(['Genre']).mean()
vgames_genre= vgames_1.index
vgames_1

                     Year       NA_Sales  ...       JP_Sales   Other_Sales
Genre                                     ...
Action        2007.910241  264692.889561  ...   47776.096823  56414.523449
Adventure     2008.129134   82546.875000  ...   40585.937500  13132.812500
Fighting      2004.622754  263518.299882  ...  103116.883117  43258.559622
Misc          2007.259238  235322.952710  ...   60709.342561  42698.961938
Platform      2003.813501  505022.624434  ...  147794.117647  58291.855204
Puzzle        2005.243386  213408.304498  ...   98391.003460  21660.899654
Racing        2004.846721  287361.222848  ...   45374.094932  62027.353178
Role-Playing  2007.062074  215468.644639  ...  232602.832097  38408.631153
Shooter       2005.921094  444892.966361  ...   29266.055046  78478.593272
Simulation    2006.561837  211514.450867  ...   73641.618497  36393.063584
Sports        2005.488908  290696.283639  ...   57825.715506  57526.697992
Strategy      2005.597015  101029.411765  ...   72735.294118  16705.882353

[12 rows x 5 columns]

In [182]:

#plt.bar(vgames_genre, values)
#plt.xticks(vgames_genre, years)