<a href="https://colab.research.google.com/github/superahxd/_project/blob/main/%ED%95%99%EC%83%9D%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 3 / NOTE 1*

# 📝 Assignment
---
# Choose your ML problems

이번 스프린트에서는 포트폴리오 프로젝트를 위해 수강생 각자가 정한 데이터셋을 사용하여 과제를 수행합니다. 프로젝트를 위한 데이터를 최종 선택하기 전에 여러 가능한 데이터세트를 살펴보고 간단한 모델까지 학습해 보는 것을 추천드립니다.

### 1) 타겟으로 사용할 특성을 선택합니다.
- **(객관식) 다음 중 설명이 올바른 항목을 선택하고 과제 제출폼에 제출하세요.**
    - 특성 3개를 사용해 가장 성능이 좋은 모델 A를 만들고 또 특성 5개를 사용해 최적의 모델 B를 학습하였습니다. 이때 모델 A에서 선택된 특성은 A1, A2, A3 입니다.
    1. 최적의 모델 B에는 특성 A1, A2, A3가 항상 선택됩니다.
    2. 최적의 모델 B 학습시 특성 A1, A2, A3는 전혀 사용되지 않습니다.
    3. 최적의 모델 B에 특성 A1, A2, A3가 선택될지 알 수 없습니다.

### 최적의 모델 B에 특성 A1, A2, A3가 선택될지 알 수 없습니다.

In [ ]:
import pandas as pd

y20181 = '2018년도_학년별·학급별 학생수 (1).csv'
y20182 = '2018년도_학년별·학급별 학생수.csv'
y20191 = '2019년도_학년별·학급별 학생수 (1).csv'
y20192 = '2019년도_학년별·학급별 학생수.csv'
y20201 = '2020년도_학년별·학급별 학생수 (1).csv'
y20202 = '2020년도_학년별·학급별 학생수.csv'
y20211 = '2021년도_학년별·학급별 학생수 (1).csv'
y20212 = '2021년도_학년별·학급별 학생수.csv'

list1 = [y20181, y20182, y20191, y20192, y20201, y20202, y20211, y20212]
d = {}
for _, i in enumerate(list1):
    file_name = "df" + str(_)
    d[file_name] = pd.read_csv(i)

In [ ]:
df0 = pd.DataFrame.from_dict(d['df0'])
df1 = pd.DataFrame.from_dict(d['df1'])
df2 = pd.DataFrame.from_dict(d['df2'])
df3 = pd.DataFrame.from_dict(d['df3'])
df4 = pd.DataFrame.from_dict(d['df4'])
df5 = pd.DataFrame.from_dict(d['df5'])
df6 = pd.DataFrame.from_dict(d['df6'])
df7 = pd.DataFrame.from_dict(d['df7'])

In [ ]:
df0.columns

Index(['시도교육청', '지역교육청', '지역', '정보공시 학교코드', '학교명', '학교급코드', '설립구분', '제외여부',
       '제외사유', '1학년 학급수', '1학년 학생수', '1학년 학급당 학생수', '2학년 학급수', '2학년 학생수',
       '2학년 학급당 학생수', '3학년 학급수', '3학년 학생수', '3학년 학급당 학생수', '특수학급 학급수',
       '특수학급 학생수', '특수학급 학급당 학생수', '순회학급 학급수', '순회학급 학생수', '순회학급 학급당 학생수',
       '학급수(계)', '학생수(계)', '학급당 학생수(계)', '교사수', '수업교원 1인당 학생수'],
      dtype='object')

In [ ]:
list2 = [df0, df1, df2, df3, df4, df5, df6, df7]
columns = ['지역', '학교명','학교급코드','1학년 학급수', '1학년 학생수', '1학년 학급당 학생수', '2학년 학급수', '2학년 학생수',
       '2학년 학급당 학생수', '3학년 학급수', '3학년 학생수', '3학년 학급당 학생수', '특수학급 학급수',
       '특수학급 학생수', '특수학급 학급당 학생수', '순회학급 학급수', '순회학급 학생수', '순회학급 학급당 학생수',
       '학급수(계)', '학생수(계)', '학급당 학생수(계)', '교사수', '수업교원 1인당 학생수']
def clean(df):
    df = df.copy()
    df= df[columns]
    return df

df0 = clean(df0)
df1 = clean(df1)
df2 = clean(df2)
df3 = clean(df3)
df4 = clean(df4)
df5 = clean(df5)
df6 = clean(df6)
df7 = clean(df7)

In [ ]:
y18 = pd.concat([df0, df1]).reset_index().iloc[:, 1:]
y19 = pd.concat([df2, df3]).reset_index().iloc[:, 1:]
y20 = pd.concat([df4, df5]).reset_index().iloc[:, 1:]
y21 = pd.concat([df6, df7]).reset_index().iloc[:, 1:]

In [ ]:
y21['집계년도']=2021

In [ ]:
'''
y18 = y18.rename(columns = {'1학년 학생수' : '18신입생',
                '학급수(계)' : '18학급수',
                '학생수(계)' : '18총학생',
                '교사수' : '18교사수'}, inplace = False)

y19 = y19.rename(columns = {'1학년 학생수' : '19신입생',
                '학급수(계)' : '19학급수',
                '학생수(계)' : '19총학생',
                '교사수' : '19교사수'}, inplace = False)

y20 = y20.rename(columns = {'1학년 학생수' : '20신입생',
                '학급수(계)' : '20학급수',
                '학생수(계)' : '20총학생',
                '교사수' : '20교사수'}, inplace = False)

y21 = y21.rename(columns = {'1학년 학생수' : '21신입생',
                '학급수(계)' : '21학급수',
                '학생수(계)' : '21총학생',
                '교사수' : '21교사수'}, inplace = False)
'''
y20.to_csv('2020학생수.csv', index=False)
y19.to_csv('2019학생수.csv', index=False)
y18.to_csv('2018학생수.csv', index=False)

In [ ]:
y20

               지역               학교명  학교급코드  ...  학급당 학생수(계)  교사수  수업교원 1인당 학생수
0       서울특별시 강남구          국립국악고등학교      4  ...        29.5   40          11.1
1       서울특별시 성북구   서울대학교사범대학부설고등학교      4  ...        26.6   62          11.6
2       서울특별시 금천구        국립전통예술고등학교      4  ...        29.3   40          13.2
3       서울특별시 송파구            가락고등학교      4  ...        24.9   65          12.7
4       서울특별시 강동구            강동고등학교      4  ...        25.4   46          13.2
...           ...               ...    ...  ...         ...  ...           ...
5666  제주특별자치도 제주시             한라중학교      3  ...        30.2   65          18.6
5667  제주특별자치도 제주시             노형중학교      3  ...        30.0   64          18.7
5668  제주특별자치도 제주시             오름중학교      3  ...        26.9   46          15.8
5669  제주특별자치도 제주시             탐라중학교      3  ...        28.0   49          17.7
5670  제주특별자치도 제주시  제주제일중학교부설방송통신중학교     25  ...        20.0   26           4.6

[5671 rows x 23 columns]

In [ ]:
y21.to_csv('y21.csv')

In [ ]:
data = pd.merge(pd.merge(y18, y19, how='outer', on=['학교명','지역','학교급코드']),y20, how='outer', on=['학교명','지역','학교급코드'])
data.to_csv('data.csv')

In [ ]:
dt20 = pd.DataFrame(pd.read_csv('/content/202012_202012_연령별인구현황_월간 (1).csv', encoding= 'cp949'))
dt18 = pd.DataFrame(pd.read_csv('/content/201812_201812_연령별인구현황_월간.csv', encoding= 'cp949'))
dt19 = pd.DataFrame(pd.read_csv('/content/201912_201912_연령별인구현황_월간.csv', encoding= 'cp949'))
dt19.columns

FileNotFoundError: ignored

In [ ]:
col = ['행정구역', '2020년12월_거주자_총인구수', '2020년12월_거주자_연령구간인구수', 
       '2020년12월_거주자_12세', '2020년12월_거주자_16세']
col2 = ['행정구역', '2018년12월_계_총인구수', '2018년12월_계_연령구간인구수', 
        '2018년12월_계_12세', '2018년12월_계_16세'] 
col3 = ['행정구역', '2019년12월_계_총인구수', '2019년12월_계_연령구간인구수', 
        '2019년12월_계_12세', '2019년12월_계_16세']            
people20, people19, people18 = dt20.copy(), dt19.copy(), dt18.copy()
people20, people19, people18 = people20[col], people19[col3], people18[col2]
people18

In [ ]:
people20 = people20.rename(columns = {'행정구역':'지역',
                                      '2020년12월_거주자_총인구수' : '20총인구수', 
                                  '2020년12월_거주자_연령구간인구수' : '20청소년수',
                                  '2020년12월_거주자_12세' : '20중입학인구', 
                                  '2020년12월_거주자_16세' : '20고입학인구'}, inplace = False)
people18 = people18.rename(columns = {'행정구역':'지역',
                                      '2018년12월_계_총인구수' : '18총인구수', 
                                   '2018년12월_계_연령구간인구수' : '18청소년수',
                                   '2018년12월_계_12세' : '18중입학인구', 
                                   '2018년12월_계_16세' : '18고입학인구'}, inplace = False)
people19 = people19.rename(columns = {'행정구역':'지역',
                                      '2019년12월_계_총인구수' : '19총인구수', 
                                   '2019년12월_계_연령구간인구수' : '19청소년수',
                                   '2019년12월_계_12세' : '19중입학인구', 
                                   '2019년12월_계_16세' : '19고입학인구'}, inplace = False)

In [ ]:
def indexname(x):
  name = str(x).split()
  name = name[:-1]
  return ' '.join(name)

people20['지역'] = people20['지역'].apply(indexname)
people18['지역'] = people18['지역'].apply(indexname)
people19['지역'] = people19['지역'].apply(indexname)
people19

In [ ]:
data2 = pd.merge(pd.merge(people18, people19, how='inner', on=['지역']),people20, how='inner', on=['지역'])
data2

In [ ]:
data3 = pd.merge(data, data2, how='outer', on=['지역'])
data3 = data3[:5712]
data3.shape

In [ ]:
data3['폐교1'] = data3['19신입생'].isna()
data3['폐교2'] = data3['20신입생'].isna()

In [ ]:
data3

In [ ]:
dt = pd.DataFrame(pd.read_csv('/content/시도교육청_폐교목록.xls.csv'))
dt['급별'] = dt['급별'].replace(['중','고'],[3,4])
dt.head()

In [ ]:
close_list = ['반송중', '동삼중학교', '삼락중학교', '서진중학교', '죽전중학교', '볼음분교',
       '대광중학교', '군서중학교', '기흥중학교', '부천북여중학교', '부천북중학교', '소달중학교',
       '상촌중', '용문중', '결성중', '장평중', '청남중', '삼례여중학교', '약수중',
       '순천승남중외서분교', '함평여자고등학교', '경주마케팅고등학교', '금성여자상업고', '상옥분교',
       '녹전분교', '김천상고', '도산중학교', '소천고등학교', '와룡분교', '인계분교',
       '입암분교', '우산중', '울릉북중', '울릉서중', '임동중', '평해여중',
       '대곡중학교', '창북중학교', '경호중', '고현중', '구산분교', '남수중학교',
       '물건중학교', '법수중학교', '산청중학교', '차황분교', '상동중학교', '생초고',
       '생초중학교']

def find(name):
  X = data3[data3['학교명'].str.contains(name)]
  return X

final = []

for i in close_list:
    a = find(i)
    final.append(a)

close = pd.concat(final)
close.shape

In [ ]:
close

### 2) 풀고자 하는 문제가 분류/회귀 문제인지 정합니다.
- **(객관식) 다음 설명 중 가장 틀린 항목을 선택하고 과제 제출폼에 제출하세요.**
    1. 특정한 종목의 다음날 주식 종가를 예측하는 문제는 Supervised Learning 문제이다.
    2. 다음날 KOSPI 지수가 증가할지 감소할지 예측하는 문제는 Classification 문제이다.
    3. 축구 경기 도중에 승패를 예측하는 모델을 만들기 위해서는 실시간 통계 정보와 경기마다 승패 데이터가 필요하다.
    4. 이번 시즌 토트넘 선수들의 개인 통계 데이터(슛, 도움, ...)를 사용해서 다음 토트넘 경기의 승패를 예측할 수 있다.

####이번 시즌 토트넘 선수들의 개인 통계 데이터(슛, 도움, ...)를 사용해서 다음 토트넘 경기의 승패를 예측할 수 있다.

### 3) 타겟의 분포를 분석하고 사용할 평가지표를 선택합니다. 평가지표를 선택한 이유를 설명하세요.
- 분류: 클래스가 몇 개인지? 클래스 비율이 어떤지(balance or imbalance)
- 회귀: 타겟 분포가 right-skewed 인지? log-transform을 사용할 것인지?
- 분류: 다수 클래스(majority class) 비율이 50%~70% 인 경우 정확도(accuracy)만 사용해도 무방합니다. 하지만 범위를 넘어설 경우 정확도만을 사용해서는 모델을 잘못 이해할 수 있습니다. 어떤 평가지표를 사용해야 할까요?
- 회귀: MAE, RMSE, R^2 등을 사용할 수 있습니다.
- **(객관식) 같은 데이터로 스팸을 예측하는 모델 A와 B를 만들었습니다. 다음 설명 중 가장 올바른 항목을 선택하고 과제 제출폼에 제출하세요.**
    1. A의 재현율은 80%이고 B의 재현율은 60%일 때 A가 더 좋은 모델이다.
    2. A의 정밀도는 80%이고 B의 정밀도는 60%일 때 A가 더 좋은 모델이다.
    3. A는 B보다 정밀도는 높지만 재현율은 낮다. A가 더 좋은 모델이다.
    4. A는 B보다 재현율은 높지만, 정밀도는 낮다. A가 더 좋은 모델이다.
    5. A는 B보다 정밀도, 재현율 모두 높다. A가 더 좋은 모델이다.

### A는 B보다 정밀도, 재현율 모두 높다. A가 더 좋은 모델이다.

## 🔥 도전과제

### 4) 데이터를 훈련/검증/테스트 데이터로 나누고 전처리를 수행합니다. 그리고 간단한 모델을 사용해서 학습을 수행합니다.
- 이상치(outliers)가 있다면 어떻게 처리할 것인지 설명합니다.
- 무작위로 or 시간에 따라 데이터를 나눌 것인지 설명합니다.
- 모델 학습 결과를 리포팅 합니다.
- 정보 누수(leakage)가 있는지 확인해 봅니다.

In [ ]:
### 이곳에서 과제를 진행해 주세요 ###