<a href="https://colab.research.google.com/github/superahxd/_project/blob/main/sec2/%EA%B5%90%EB%B3%B5%EA%B0%80%EA%B2%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

y20181 = '/content/2018년도_교복 구매 유형 및 단가 (1).csv'
y20182 = '/content/2018년도_교복 구매 유형 및 단가.csv'
y20191 = '/content/2019년도_교복 구매 유형 및 단가 (1).csv'
y20192 = '/content/2019년도_교복 구매 유형 및 단가.csv'
y20201 = '/content/2020년도_교복 구매 유형 및 단가 (1).csv'
y20202 = '/content/2020년도_교복 구매 유형 및 단가.csv'

list1 = [y20181, y20182, y20191, y20192, y20201, y20202]
d = {}
for _, i in enumerate(list1):
    file_name = "df" + str(_)
    d[file_name] = pd.read_csv(i)

In [2]:
df0 = pd.DataFrame.from_dict(d['df0'])
df1 = pd.DataFrame.from_dict(d['df1'])
df2 = pd.DataFrame.from_dict(d['df2'])
df3 = pd.DataFrame.from_dict(d['df3'])
df4 = pd.DataFrame.from_dict(d['df4'])
df5 = pd.DataFrame.from_dict(d['df5'])

In [4]:
df0.head(1)

      시도교육청 지역교육청         지역  ... 하복구매방식(기타사유) 하복구매방식(해당없음)  하복(평균)가격
0  서울특별시교육청   교육부  서울특별시 강남구  ...          NaN          NaN   83000.0

[1 rows x 23 columns]

In [5]:
df0.columns

Index(['시도교육청', '지역교육청', '지역', '정보공시 학교코드', '학교명', '학교급코드', '설립구분', '제외여부',
       '제외사유', '동복구매방식(학교주관구매)', '동복구매방식(공동구매)', '동복구매방식(개별구매)', '동복구매방식(기타)',
       '동복구매방식(기타사유)', '동복구매방식(해당없음)', '동복(평균)가격', '하복구매방식(학교주관구매)',
       '하복구매방식(공동구매)', '하복구매방식(개별구매)', '하복구매방식(기타)', '하복구매방식(기타사유)',
       '하복구매방식(해당없음)', '하복(평균)가격'],
      dtype='object')

In [8]:
list2 = [df0, df1, df2, df3, df4, df5]
columns = ['지역', '학교명','학교급코드', '동복(평균)가격','하복(평균)가격']
def clean(df):
    df = df.copy()
    df= df[columns]
    return df

df0 = clean(df0)
df1 = clean(df1)
df2 = clean(df2)
df3 = clean(df3)
df4 = clean(df4)
df5 = clean(df5)

In [10]:
y18 = pd.concat([df0, df1]).reset_index().iloc[:, 1:]
y19 = pd.concat([df2, df3]).reset_index().iloc[:, 1:]
y20 = pd.concat([df4, df5]).reset_index().iloc[:, 1:]

In [13]:
y18.columns

Index(['지역', '학교명', '학교급코드', '동복(평균)가격', '하복(평균)가격'], dtype='object')

In [25]:
y18 = y18.rename(columns = {'동복(평균)가격' : '18동복가격',
                            '하복(평균)가격' : '18하복가격'}, inplace = False)

y19 = y19.rename(columns = {'동복(평균)가격' : '19동복가격',
                            '하복(평균)가격' : '19하복가격'}, inplace = False)

y20 = y20.rename(columns = {'동복(평균)가격' : '20동복가격',
                            '하복(평균)가격' : '20하복가격'}, inplace = False)